*{
    margin: 0;
}

body{
    background-image: linear-gradient(45deg, rgb(75, 75, 105) 0%, rgb(33, 30, 34) 100%)
}

#content{
    /* Card size */
    width: 38%;
    height: auto;
    margin-left: 29%;
    margin-right: 29%;
    margin-top: 15%;
    margin-bottom: 25%;
    padding: 2%;
    border-radius: 20px;
    display: inline-block;

    font-size: x-large;
    background-image: linear-gradient(45deg, rgb(29, 24, 29) 0%, rgb(99, 71, 116) 100%)
}

#image{
    width: 30%;
    float: left;
}

#image img{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    margin: 2%;
}

#text{
    width: 70%;
    float: left;
    text-align: right;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(31, 30, 30);
}

#info{
    width: 100%;
    float: left;
    color: rgb(87, 87, 87);
    text-shadow: 2px 2px #000000;
}

h1{
    font-size: xx-large;
}

a{
    color: rgb(31, 30, 30);
    transition: color 2s ease-out 30ms;
}

a:hover{
    color: rgb(65, 24, 24)
}